<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new comment</title>
</head>
<body>
    <h1>make a new comment</h1>
     <form action="/comments" method="post">
        <section>
            <label for="username">enter username</label>
        <input type="text" name="username" id="username" placeholder="username">
        
        </section>
        <section>
            <label for="comment">comment texts</label>
            <br>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </section>

        <button>submit</button>
    </form>
    <a href="/comments">back to all comments</a>

</body>
</html>